body {
   font-family: "Montserrat";
 }

 .title-row{
   font-family: "Montserrat-Bold";
   text-align: center;
   background-color: #49A5F5;
   color: #fff;
   padding-top: 20px;
   font-size: 3rem;
 }
 .title-heading{
   font-size: 5rem;
 }
 .title-icon {
   margin: 20px 10px;
 }